/* Navigation Bar */
.app{
  background-color: white;
}

.navbar {
  background-color: #ac6f6f;
  color: white;
  padding: 10px 0;
  border-radius: 20px;
  margin-bottom: 10px;
  height: 50px;
  align-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0px;
}

.navbar li {
  margin: 0 50px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
